.progress-card-container {
  padding: 15px;
  .progress-card-header {
    color: var(--white);
    font-size: var(--font-size-2xl);
    font-family: var(--font-primary);
  }

  .progress-card-headline {
    color: var(--white);
    color: var(--white);
    font-family: var(--font-primary);
  }

  .progress-card-footer {
    color: var(--white);
    color: var(--white);
    font-family: var(--font-primary);
  }
}
