<div class="header-container">
  <!-- Avatar & Site title -->
  <div class="header-site-title-ctn">
    <h2 class="header-site-title">{{siteTitle}}</h2>
    <h5 class="header-site-headline">{{headline}}</h5>
  </div>

  <!-- Navigation menu -->
  <!-- <div class="header-navbar-ctn">
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#">About Me</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="login">login</a></li>
    </ul>
  </div> -->

  <!-- Search form -->
  <!-- Now is available as widgets check src/app/@themes/widgets/searchbar -->
  <!-- <div class="header-search-form-ctn">
    <mat-form-field>
      <mat-label>Search...</mat-label>
      <input matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div> -->
</div>
