table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  text-align: initial;
  button {
    width: 50%;
  }

  mat-form-field {
    width:80%;
  }
}


.category-add {
  margin: 20px 0px;
  float: left;
}

h2 {
  margin-top: 20px;
  text-align: left;
  font-family: 'Source Code Pro', monospace;
}
