<div class="footer-container">
  <div id="copyright" class="footer-element">
    <h2 class="footer-site-title">{{siteTitle}}</h2>
  </div>
  <div id="social" class="footer-element pc-right">
    <a href="/">
      <div class="footer-icon pc-right"><i class="fa fa-facebook-official"></i></div>
    </a>
    <a href="/">
      <div class="footer-icon pc-right"><i class="fa fa-instagram"></i></div>
    </a>
    <a href="/">
      <div class="footer-icon pc-right"><i class="fa fa-youtube-play"></i></div>
    </a>
  </div>
</div>
