<div class="clear-fix"></div>
<div class="footer-container">
  <div id="copyright" class="footer-element">
    <h2 class="footer-site-title">{{siteTitle}}</h2>
  </div>
  <div id="social" class="footer-element pc-right">
    <a href="https://fb.com/6c6f6e6772656765782e6575/">
      <div class="footer-icon pc-right"><i class="fa fa-facebook-official"></i></div>
    </a>
    <a href="https://github.com/vblong">
      <div class="footer-icon pc-right"><i class="fa fa-github"></i></div>
    </a>
    <a href="mailto:bolong.v@gmail.com">
      <div class="footer-icon pc-right"><i class="fa fa-envelope"></i></div>
    </a>
  </div>
</div>
