.coming-soon-container {
  text-align: center;

  .coming-soon-404 {
    text-shadow: 10px 10px 10px var(--secondary);
    font-size: 10em;
    line-height: 1;
    color: var(--primary);
  }
}
