<app-header></app-header>

<section class="content-section">
  <div class="content-ctn">
    <div id="content" class="content-element">
      <!-- <app-entry-list></app-entry-list> -->
      <div class="about-section">
        <h1>Admin dashboard framework</h1>
        <p>This is an Angular based project, which aims to create a UI framework that can be utilized by anyone to create an administration web app fast and easy.</p>
      </div>

      <h2 style="text-align:center">Go to /dashboard to access the admin site</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Sample login</h2>
              <p class="title">admin:admin</p>
              <p>You can also login with the credential above</p>
              <p><button class="button"><a href="/login">Login</a></button></p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="container">
              <h2>This app is constantly updated and pushed</h2>
              <p>This means bugs may appear</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Contact</h2>
              <p class="title">bolong.v@gmail.com</p>
              <p>Drop me an email if you wanna collaborate with me</p>
              <p><button class="button"><a href="mailto:bolong.v@gmail.com">Contact</a></button></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="sidebar" class="content-element"> -->
      <!-- <app-author-box></app-author-box>

      <app-search-bar></app-search-bar> -->
    <!-- </div> -->
  </div>
</section>

<app-footer></app-footer>
