.dashboard-wrapper {
  height: 100%;
  .dashboard-ctn {
    height: 100%;
    text-align: center;
    .dashboard-child-ctn {
      height: 100%;
      display: inline-block;
      vertical-align: top;
      &#left-bar {
        width: 20%;
      }

      &#content {
        width: 80%;
        padding: 0px 30px;
      }
    }
  }
}

:host {
  height: 100%;
}
