.dashboard-wrapper {
  height: 100%;
  .dashboard-ctn {
    height: 100%;
    text-align: center;
    .dashboard-child-ctn {
      height: 100%;
      &#left-bar {
        position: fixed;
        height: 100%;
        overflow: auto;
      }

      &#content {
        max-width: 1400px;
        margin-left: 250px;
        padding: 0px 30px;
        margin: 0 auto;
        margin-top: 50px;
      }
    }
  }
}

:host {
  height: 100%;
}
