.control-btn-ctn {
  // height: 100px;
  background-color: var(--primary);
  text-align: left;

  .control-btn-icon-ctn {
    display: inline-block;
    width: 100px;
    height: 100%;
    // text-align: center;
    .control-btn-icon {
      height: 100%;
      mat-icon {
        font-size: var(--font-size-4xl);
        color: var(--white);
        // width: 100%;
        // height: 100%;
        // vertical-align: middle;
      }
    }
  }

  .control-btn-state {
    display: inline-block;
    .control-btn-name {
      vertical-align: middle;
    }

    .control-btn-value {
      vertical-align: middle;
    }
  }
}
