<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="box-shadow control-btn-ctn">
        <div class="control-btn-icon-ctn" [ngStyle]="{'background-color': backgroundColor}">
          <div class="control-btn-icon">
            <mat-icon [color]="color">lightbulb</mat-icon>
          </div>
        </div>

        <div class="control-btn-state">
          <div class="control-btn-name">
            {{name}}
          </div>
          <div class="control-btn-value">
            {{state}}
          </div>
        </div>

      </div>
    </div>
    <div class="col-3">
      Roller Shades
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      Wireless Audio
    </div>
    <div class="col-3">
      Coffee Maker
    </div>
  </div>
</div>
